grey: #eee
dark-grey: #4e4f4f

#app
  font-family: sans-serif

.list-audio
  background-color: #fafafa
  margin: 0
  padding: 0
  clear: both
  cursor: pointer

  li
    padding: 10px
    list-style-type: none

    &:nth-child(even)
      list-style-type: none
      background-color: grey
      text-decoration: none
      color: dark-grey

.hidden
  display: none

.section-player
  width: 310px
  font-family: sans-serif
